.skill-section{
    background-color: black;
}
.skill-header{
    animation-name: skill;
    animation-duration: 2s;
    position: relative;
    color:orange;
    animation-iteration-count: 2;
}
@keyframes skill {
    0% {color: red; left:0px; top:-500px;}
    100% {color: greenyellow; left:0px; top:0px;}
  }