.project-card img{
    padding: 15px;
    border-radius: 15px !important;
}
.project-card button{
    width:100%;
    background-color:rgba(0, 0, 128, 0.705);
}
.project-card button:hover{
    background-color:rgba(0, 0, 255, 0.616);
}
.project-card a{
    text-decoration: none;
    color: white;
}
.project-card{
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    cursor: pointer;
}

.project-card:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}